:root[data-theme="light"] {
  --text: rgb(4, 3, 22);
  --background: rgb(251, 251, 254);
  --primary: rgb(47, 39, 206);
  --secondary: rgb(221, 219, 255);
  --accent: rgb(68, 61, 255);
  --brownish: rgb(249, 235, 178);
  --blueish: rgb(69, 170, 184);
}
:root[data-theme="dark"] {
  --text: rgb(234, 233, 252);
  --background: rgb(1, 1, 4);
  --primary: rgb(58, 49, 216);
  --secondary: rgb(2, 0, 36);
  --accent: rgb(6, 0, 194);
  --brownish: rgb(249, 235, 178);
  --blueish: rgb(69, 170, 184);
}

:root {
  --header-height: 80px;
  --font-stack: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  height: 100%;
  color: var(--text);
  font-family: var(--font-stack);
  transition: background-color 300ms ease-in, color 300ms ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--accent);
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
}
header > h1{
    font-size: 3rem;
}

.toggle-div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text);
  border-radius: 10px;
}
.toggle-div i {
  font-size: 2rem;
  color: var(--text);
}

main{
    width: 80%;
    min-height: 80%;
    height: calc(100% * var(--header-height));
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: auto;
    justify-items: center;
    gap: 20px;

}

.book{
    width: 250px;
    height: 350px;
    background-color: #394240;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: inherit;
}
.book button:first-of-type{
    margin-bottom: 12px;
}

.book img{
    height: 40%;
}